/**********************/
/* COLOR - Text */
/**********************/

$color-blue-dark-grayish: #787887;
$color-blue-very-dark-desaturated: #1d1e35;
$color-blue-very-dark-grayish: #4a4b5e;
$color-red-soft: #f47c57;

/**********************/
/* COLOR - Background */
/**********************/
$color-blue-soft: #6565e7;
$color-violet-soft: #af67e9;

/**********************/
/* COLOR - Dividers */
/**********************/
$color-blue-light-grayish: #e7e7e9;
